<%- include('./partials/header.ejs'); %>
<section class="edit-content">
  <div class="edit-content-container">
    <table>
        <th>Name</th>
        <th>낮모임</th>
        <th>화찬</th>
        <% for(let i=0;i<results.length;i++){
          let flagSun = '';
          let flagTue = '';
          if(results[i].meeting === 1) flagSun = 'checked';
          if(results[i].tue === 1) flagTue = 'checked';
          %>
        <tr>
          <td><%=results[i].name%></td>
          <input type="hidden" id='<%=i%>' value="<%=results[i].name%>">
          <td><input type="checkbox" id="<%=results[i].name%>sun"  <%=flagSun%> /></td>
          <td><input type="checkbox" id="<%=results[i].name%>tue" <%=flagTue%> /></td>
        </tr>
        <%}%>
    </table>
    <button type="button" id="submit">저장</button>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://kit.fontawesome.com/02656a2617.js"></script>
<script src="/javascripts/jquery.table2excel.js" charset="utf-8"></script>
<script src="/javascripts/assemble.js" charset="utf-8"></script>
<script type="text/javascript">
  let msg = '<%=msg%>';
  if(msg !== '') {
    alert(msg);
    msg = '';
  }

  let targetObject = [];
  let length = <%=results.length%>;
  $('#submit').click(function(){
    for(let i=0;i<length;i++){
      let rowObject = [];
      let name = $('#'+i).val();
      rowObject.push(name);

      //sunday
      if($('#'+name+'sun').is(":checked") == true){
        rowObject.push(true);
      }else{
        rowObject.push(false);
      }

      //tuesday
      if($('#'+name+'tue').is(":checked") == true){
        rowObject.push(true);
      }else{
        rowObject.push(false);
      }

      targetObject.push(rowObject);
    }
    //console.log(targetObject);

    $.ajax({
      url: '/board/save',
      type: 'PUT',
      contentType:'application/json',
      data: JSON.stringify(targetObject),
      dataType:'json'
    });
  });

</script>
</body>
</html>
